:root {
    --primary-color: #055a05;
    --secondary-color: #fff;
    --accent1-color: #264653;
    --accent2-color: #134;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns:  120px 1fr 1fr;
    align-items: center;
    padding: 1rem;
}

header img {
    width: 120px;
}
header nav {
    grid-column-start: 3;
}
 

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

nav ul li a {
    color: var(--secondary-color);
}

footer {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia { 
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    
}

/* Style the Hero Div with Overlays */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding:16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    top: 290px;
    width: 80%;
    height: 30%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

h2 {
    top: 20px;
    width: 100%;
    padding:16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 150px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;  
    align-items: center;  
    justify-content: space-evenly;
}

li{
    display: flex;
    flex: 1 1 auto;
}

.grid {
    
}





