:root {
    --primary-color: ;
    --secondary-color: ;
    --accent1-color: ;
    --accent2-color: ;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}