:root{
    --border-color:  1px solid black;
    --heading-background-color: darkblue;
    --box-shadow-color: 0 0 30px gray;
    --width-img: 150px;
    --img-padding: 2px;
}

nav{
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: var(--heading-background-color);
}

img{
    width: var(--width-img);
    height: auto;
    border: var(--border-color);
    padding: var(--img-padding);
    box-shadow: var(--box-shadow-color);
}

p{
    padding: 0px;
}

main{
    max-width: 840px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid  rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img{
    width: var(--width-img);
    height: auto;
    border: var(--border-color);
    padding: var(--img-padding);
    box-shadow:var(--box-shadow-color);
}


footer{
    margin-top: 15px;
    border-top:var(--border-color);
    text-align: center;
}