:root {
    --heading-background-color: darkblue;
    --general-color: #eee;
    --box-shadow: 0 0 30px gray;
    --border-image: 1px solid black;
    --text-align: var(--text-align)
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;

}

nav a {
    color: var(--general-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--border-image);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1em;
    background-color: var(--general-color);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border-image);
    text-align: var(--text-align);
}