* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border-color:  1px solid black;
    --heading-background-color: darkblue;
    --box-shadow-color: 0 0 30px gray;
    --width-img: 150px;
    --img-padding: 2px;
}

nav{
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: var(--heading-background-color);
}

img{
    width: var(--width-img);
    height: auto;
    border: var(--border-color);
    padding: var(--img-padding);
    box-shadow: var(--box-shadow-color);
}

p{
    padding: 0px;
}

main{
    max-width: 640px;
}

main img{
    width: var(--width-img);
    height: auto;
    border: var(--border-color);
    padding: var(--img-padding);
    box-shadow:var(--box-shadow-color);
    float: right;
    margin: 0 0 1rem 1rem;
}


aside{
    width: 20em;
    margin: 1rem;
    border: 1px solid  rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}


aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 420px;
    left: 140px;
}

footer{
    margin-top: 15px;
    border-top:var(--border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 1rem;
    background-color: #dcdcdc;
    color: #000;
}

